<div class="container db-container">
	<div class="row">
		<div class="col-md-12">
			<h2 style="text-transform: none">{{activeCg.length}} Caregivers near San Francisco, CA</h2>
		
							<div class="media" style="    background: #F1F1F1;padding: 30px" ng-repeat='caregiver in activeCg track by $index'>
								  <div class="media-left">
								    <a ui-sref="caregiverProfile({id: caregiver._id})">
								    	<img ng-src="/public/build/img/userlogo.png" ng-if="!caregiver.cgImageUrl" width="230" height="230" class="media-object img-circle" alt="">
											<img ng-src="{{caregiver.cgImageUrl}}" ng-if="caregiver.cgImageUrl"width="230" class="media-object img-circle" alt="">
								    </a>
								  </div>
								  <div class="media-body">
								  	<a ui-sref="caregiverProfile({id: caregiver._id})" style="color: #555">
									    <h4 class="media-heading mainColor">{{caregiver.fName}} {{caregiver.lName[0]}}. 
									    	<small class="right cg-jobs-view mainColor" >{{caregiver.contact.city}}</small>

									    </h4>
								  	</a>
								  		<h4>${{caregiver.hourRate}} Per Hour</h4>
								  		<h4>{{caregiver.yrsExp}}+ Exp</h4>
											<p>{{caregiver.about.slice(0, caregiver.about.length/3)}}...</p>
											<div class="label label-danger" style="margin-right: 5px; display: inline-block" ng-repeat="skill in caregiver.skills track by $index">
												
												{{skill}}
											</div>
								  </div>
								  
							</div>
		
		</div>
	</div>

</div>