<div class="container db-container">
	<div class="row">
		<div class="col-md-12">
			<h4>Welcome back, {{user.fName}}</h4>

			<h6>My Listings 
				<a ui-sref="familyProfileView" ng-if="user.family.active">| View Post</a>
				<span class="right">
					<a  ui-sref="familyProfileAddJob" ng-if="!user.family.patient">Add Care Needs</a>
				</span>
			</h6>

			
				<div class="media" style="    background: #F1F1F1;padding: 30px" ng-if="user.family.patient">
					  <div class="media-left">
					    <a ui-sref="familyProfileEditJob">
					    	<strong>Edit Post</strong>
					    </a>
					  </div>
					  <div class="media-body">
					    <h4 class="media-heading">Care Needed in {{::user.family.locationOfPatient}}, CA for {{::user.family.patient}}</h4>
					    	<p><strong ng-if="user.family.active">Status: Active</strong></p>
					    	<p><strong ng-if="!user.family.active">Status: In-Active</strong></p>
					    <p>{{::user.family.hoursPerWeekCare}}hrs/Week</p>
					    <p>{{::user.family.timesOfDayCare}}</p>
					  </div>
				</div>

			
		</div>
	</div>

</div>