
<% if (!user) { %>
	
	<nav class="navbar navbar-default" style="margin-bottom: 0px; border: 0px; border-radius: 0px; border-color: #4a6a8a; background: #4a6a8a">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/" style="color:#fff; margin-left: 33px;">InstaGoals</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/login"  style="color:#fff; margin-right: 33px">Login</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>


<% } else { %>
	<nav class="navbar navbar-default" style="margin-bottom: 0px; border: 0px; border-radius: 0px; border-color: #1a1d25; background: #1a1d25">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/" style="color:#fff; margin-left: 33px;">InstaGoals</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    
	       <ul class="nav navbar-nav navbar-right">
	         <li class="dropdown">
	          <a href="#" style="color:#fff" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged in as <%= user.fName %> <%= user.lName %> <span class="caret"></span>
	          </a>
	          <ul class="dropdown-menu">
	            <li><a href="/logout">logout</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="/dashboard">dashboard</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>


<% } %>

