<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta name="generator" content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
        <link rel="icon" type="image/png" href="../icon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
        <link rel="stylesheet" href="../public/bower_components/bootstrap/dist/css/bootstrap.css">

        <link rel="stylesheet" href="http://d11rc4lxyaw8dg.cloudfront.net/public/build/css/stylesheet.min.css">
        <title>
          In-Home Care Services | Staffing Agency
        </title>

    </head>
    <body data-spy="scroll" data-target="#navbar">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/"><img class="navbar-brand" src="http://d11rc4lxyaw8dg.cloudfront.net/public/build/img/logo.jpg" style="height: 65px"></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#about" class="visible-xs-* hidden-lg hidden-md hidden-sm" style="position: relative">About Us</a></li>
              <li><a href="#services" class="visible-xs-* hidden-lg hidden-md hidden-sm" style="position: relative">Our Services</a></li>
              <li><a href="#contact" class="visible-xs-* hidden-lg hidden-md hidden-sm" style="position: relative">Contact</a></li>
              <li style="padding-top: 10px" class="hidden-xs">  <a href="tel:4152403729" >415.240.3729</a> </li>
                <li style="padding-top: 10px" class="hidden-xs">
                <a href="">|</a>

              </li>
              <li style="padding-top: 10px" class="hidden-xs"> <a href="mailto:contact@seniorsareloveinc.co" >contact@seniorsareloveinc.co</a> </li>
              <li style="padding-top: 10px" class="hidden-xs">
                <a href="">|</a>

              </li>

              <li style="padding-top: 10px">
                <a href="/login">Log In </a>

              </li> 
              <li style="padding-top: 10px" class="hidden-xs">
                <a href="">|</a>

              </li>
              <li style="padding-top: 10px">
                 <a href="/signup">Join Us</a>
              </li>
      
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="jumbotron">
        
        <div id="black"></div>

        
        <div style="" class="animated fadeInDown">
          <div class="container" style="padding: 0">
            <div class="col-md-12">
              
            <h2 style="color: #EC6161; margin: 0; text-transform: initial">In-Home Care Staffing Agency </h2>
            <h4 class="subtitle">Providing the best quality care and services</h4>
            <hr class="line" style="width: 17%"/>
            </div>
            <div class="col-md-12">
            <p class="header-review">
          
            </p>

            <div class="header-opp">
              <div style="padding: 10px 0px"><h5>Let's get started. Choose an option:</h5></div>
              <a href="/register/family" class="btn btn-block btn-danger btn-md" style="margin: 5px 0px">Looking for care?</a>
              <a href="/register/caregiver" class="btn btn-danger btn-block  btn-md">Looking for job opportunities?</a>
            </div>
        
            </div> 

          </div>
        </div>
      </div>

      <div class="container" id="main-wrapper">
        <div class="col-md-12  main-content">


            <h3 id="about">About Us</h3>
            <hr class="line line-desc" />
            <h5>We specialize in the care of seniors</h5>
            <p class="half center">
            Seniors Are Love Inc. is a non-medical care giving agency located in San Francisco California that provides professional services to clients who are still able to remain in their own homes. We specialize in the care of seniors who need personalized attention, companionship and independence or recovering from an injury or illness.
            </p>

            <p style="padding: 40px 0px">
              <img src="http://d11rc4lxyaw8dg.cloudfront.net/public/build/img/about.jpg" alt="" class="img-responsive center" />
         
            </p>

            <h3 id="services">Our Services</h3>
            <hr class="line line-desc"/>
            <h5>COMMITED TO PROVIDING QUALITY STAFFING</h5>
            <p  class="half center">
              We provide the right talent to their specialized staffing and consultation needs as well as create a staffing agency that provides the best possible services for your loved ones.
          
            </p>


            <p  style="padding: 40px 0px">
                   <img src="http://d11rc4lxyaw8dg.cloudfront.net/public/build/img/mission.jpg" alt="" class="img-responsive center" />
            </p>

            <h3 >How it works</h3>
            <hr class="line line-desc"/>
              
              <div class="col-xs-12 col-sm-6 col-md-6" style="padding-top: 60px">
                <h4>Looking for a caregiver?</h4>
                <div style="font-size: 1.4em">
                  <i class="fa fa-laptop fa-2x mainColor"></i>
                  <span class="mainColor">Sign Up</span>
                  <p><small>Create a free account. It's easy.</small></p>

                  <i class="fa fa-pencil fa-2x"></i>
                  <span class="mainColor">Create a Job Description</span>
                  <p><small>Caregivers will contact you through messaging.</small></p>

                   <i class="fa fa-user fa-2x mainColor"></i>
                  <span class="mainColor">Review Profile</span>
                  <p><small>Check out your candidates experience and professional background.</small></p>
                  
                   <i class="fa fa-check fa-2x mainColor"></i>
                  <span class="mainColor">Hire The Right Fit</span>
                  <p><small>Interview, check references and hire the one that works for you!.</small></p>
                    <a href="/register/family" class="btn  btn-danger btn-md" style="margin: 5px 0px">Find Care</a>

                </div>
                
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6" style="padding: 60px">
                
                <h4>Looking for job opportunities?</h4>

                <div style="font-size: 1.4em">
                  <i class="fa fa-laptop fa-2x mainColor"></i>
                  <span class="mainColor">Sign Up</span>
                  <p><small>Create a free account. It's easy.</small></p>

                  <i class="fa fa-users fa-2x mainColor"></i>
                  <span class="mainColor">Create a Profile</span>
                  <p><small>List your skills, expertise, and professional experience so that you can stand out!</small></p>

                   <i class="fa fa-search fa-2x mainColor"></i>
                  <span class="mainColor">Search for Jobs</span>
                  <p><small>New job opportunities are posted daily.</small></p>
                  
                   <i class="fa fa-check fa-2x mainColor"></i>
                  <span class="mainColor">Get Hired </span>
                  <p><small>Contact potential job offers and get hired!</small></p>
                  <a href="/register/caregiver" class="btn btn-danger   btn-md">Find Jobs</a>


                </div>
              </div>


            <h3 id="mission">Our Mission</h3>
            <hr class="line line-desc"/>
            <h5>COMMITED TO PROVIDING QUALITY STAFFING </h5>
            <p  class="half center">
               Our mission is to match the right talent to their specialized staffing and consultation needs as well as create a staffing agency that provides the best possible services for your loved ones.
            </p>

            <p  style="padding: 40px 0px">
              <img src="http://d11rc4lxyaw8dg.cloudfront.net/public/build/img/vision.jpg" alt="" class="img-responsive center" />
            </p>

  
            <h3>Our Featured Caregivers</h3>
            <hr class="line line-desc"/>

              <div class="media"  style="padding: 40px 0px">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object img-circle" width="120"src="http://d11rc4lxyaw8dg.cloudfront.net/public/build/img/sheelah.jpg" alt="...">
                    </a>
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading">Sheela Marie Derecho</h5>
                    <p>CNA / 3 Years Experience</p>
                    <small>Hard worker, reilable, and a caring individual who specializes in one on one care.</small>
                  </div>
              </div>

        <h3 id="support">Our Support</h3>
            <hr class="line line-desc"/>
            <h5>We provide 24 hour customer service </h5>
            <p  class="half center">
              We provide our clients and staffing agency a system that is built around customer care and satisfaction. Call our toll-free phone number and we will do our best to help and answer your questions as best we can.
            </p>
            <p  style="padding: 40px 0px">
              <img src="http://d11rc4lxyaw8dg.cloudfront.net/public/build/img/support.jpg" alt="" class="img-responsive center" />
            </p>           

      


        </div><!-- end of main content -->
        
    </div>  <!-- end of container -->



      <footer id="contact">
        <div class="container">
            <p>
              
               <a href="https://www.facebook.com/Seniors-Are-Love-Inc-1061810760505214/" class="header-contact-info" style="font-size: 1.4em">
                <span class="fa-stack fa-lg"  style="color: #478AC9">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
                </a>


                
              <a href="https://twitter.com/seniorsarelovee" class="header-contact-info" style="font-size: 1.3em">
                <span class="fa-stack fa-lg"  style="color: #47ADC9">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
               </a>  
              
            </p>
                  
          <strong>
            <a href="tel:4152403729" class="footer-contact"><strong>415-240-3729</strong></a>
          </strong> | <a href="mailto:contact@seniorsareloveinc.co" >contact@seniorsareloveinc.co</a> 
      </strong>
             <p style="font-size: 0.6em">
               &copy; 2015 SeniorsAreLoveInc. All rights reserved.
             </p>
             
        </div>

      </footer>


    <!-- libs -->    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67798598-1', 'auto');
      ga('send', 'pageview');

    </script>

    </body>
</html>
