<div class="row cg-profile-row">
	<h4 >Profile Photo</h4>
	<p>Click Choose File to select a photo from your computer or mobile device and then Click Upload to add your photo.</p>

	<form method="post" action="/api/images" enctype="multipart/form-data">
    <div class="form-group">

				<img id="ads_img_src" width="230"  class="img-circle" preview-image data="ads_image ads_img_src" ng-src="{{user.cgImageUrl ? user.cgImageUrl : '/public/build/img/userlogo.png'}}"/>
				
				<input accept="image/*" type="file" name="photo" id="ads_image" file-model="fileModel" >
				<p>Add Photo</p>
    </div>
  
    <a ui-sref="careGiverProfile" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-danger" ng-disabled="!fileModel" ng-click="photoSubmitted = true">Update <i ng-if="photoSubmitted" class="fa fa-spinner fa-spin"></i></button>
	</form> 
		
</div>
