<div class="container db-container">
	<div class="row">
		
		<div class="col-xs-12 col-sm-9 col-md-9 cg-family-cgprofile">

			<a href="">
				
				<img ng-src="/public/build/img/userlogo.png" ng-if="!user.cgImageUrl" width="230"  class="img-responsive img-circle" alt="">
				<img ng-src="{{user.cgImageUrl}}" ng-if="user.cgImageUrl"width="230"  class="img-responsive img-circle" alt="">
				
			</a>

		</div>	

		<div class="col-xs-12 col-sm-3 col-md-3 cg-profile-sub">

			<p><button class="btn btn-danger" ui-sref="careGiverProfile">Edit</button></p>
			<p>{{user.fName}} {{user.lName}}</p >
			<hr/>
			<h5>{{user.yrsExp}}+ Years Exp</h5>
			<h5>Hourly Rate</h6>
			<small class="mainColor" style="font-size: 1.3em;"><strong>${{user.hourRate}}</strong></small>
						
			<h5>Phone</h5>
			<small>{{::user.phone}}</small>
			<h5>Gender</h6>
			<small >{{::user.gender}}</small>

			
			<h5>Address</h5>
			<small>{{::user.contact.city | uppercase}}, CA, {{::user.contact.zipCode}}</small>				

		</div>
		
	</div>
		
		<hr/>

		<div class="row cg-basic-info-row">
			<div class="col-sm-12">


					<h4>About 
					
					</h4>
						<p>{{user.about}}</p>
						

					<hr/>

						<h4>Services 
						
					</h4>
				
						<h6>Type of Care</h6>
						<p>{{user.careType}}</p>
						<h6>Skills And Expertise</h6>
							<span style="font-size: 1em; margin: 4px; padding: 8px; display: inline-block" class="label label-default" ng-repeat="service in user.skills track by $index">
								{{service}}	
							</span>

					<hr />

					<h4>Experience 
				
						</a>
					</h4>
	
					<div ng-if="user.workExp.length > 0">
								<h6>Work Experience</h6>
								<address ng-repeat="exp in user.workExp track by $index">
									{{exp.title}}<br>
									{{exp.employer}}<br>
									{{exp.start}} - {{exp.end}}<br>
									{{exp.desc}}
								</address>
					</div>
					<hr/>
			</div>
		</div>

</div>