<div class="row cg-profile-row">
	<div class="col-md-6">
		<h4 >Personal Information</h4>
		<p>Your full address will not be viewable in your profile. This info is used for our vetting process.</p>

		<form ng-submit="updateInformation(user.gender)">
			<div class="form-group">
				<p>Setting your status to active will allow your profile to be seen by clients.</p>
				<div class="radio">
				  <label><input type="radio" name="Active" ng-model="user.cgActive" ng-value="true">Active</label>
				</div>
				<div class="radio">
				  <label><input type="radio" name="In-active" ng-model="user.cgActive" ng-value="false">In-active</label>
				</div>
			</div>

			<div class="form-group">

			  <label for="gender">Gender</label>
			  <select class="form-control" id="gender" ng-model="user.gender">
			    <option value="male" selected>Male</option>
			    <option value="female">Female</option>
			  </select>
			</div>

	    <div class="form-group">

	        <label> Address</label>
	        <input type="text" class="form-control"placeholder="Street Address or APT #" ng-model="user.contact.address">
	    			<input type="text" class="form-control"placeholder="city" ng-model="user.contact.city">
	    			<input type="text" class="form-control"placeholder="zipcode" ng-model="user.contact.zipCode">
	    </div>
	  
	    <a ui-sref="careGiverProfile" class="btn btn-default">Cancel</a>
	    <button type="submit" class="btn btn-danger">Update <i ng-if="informationSubmitted" class="fa fa-spinner fa-spin"></i></button>
		</form> 
		
	</div>
		
</div>