<div class="container db-container">
	<div class="row">
		<div class="col-md-12">
			<h3>Caregiver needed in {{caregiverJob.locationOfPatient}},CA for {{caregiverJob.patient}}</h3>
			<p style="font-weight: bold">{{caregiverJob.locationOfPatient}}, CA  <strong>|</strong> Ideal start {{caregiverJob.startDate}} <strong>|</strong> {{caregiverJob.hoursPerWeekCare}}hrs/week <strong>|</strong> Job #{{caregiverJob._id}}</p>

			<h4>Job Description</h4>
			<p>Need a reliable and experienced caregiver located near {{caregiverJob.locationOfPatient}}, CA to help care for {{caregiverJob.patient}}. I need help {{caregiverJob.daysOfCare}} days per week in the {{caregiverJob.timesOfDayCare}}. I would like the help to begin {{caregiverJob.startDate}} and estimate {{caregiverJob.hoursPerWeekCare}} hours per week.</p>
			<p><button class="btn btn-danger" ui-sref="messageJob({id: caregiverJob._id})">Message</button></p>
			<hr/>
			<h4>Care needs</h4>

			<h5>Schedule</h5>
			<p><strong>{{caregiverJob.hoursPerWeekCare}}hrs/week</strong></p>
			<p><strong>Ideally starting {{caregiverJob.startDate}}</strong></p>
			<p><strong>{{caregiverJob.timesOfDayCare}}</strong></p>
			<h5>Daily activities</h5>
			<span style="font-size: 1em; margin: 4px; padding: 8px; display: inline-block" class="label label-default" ng-repeat="job in caregiverJob.dailyActivities track by $index">
								{{job}}	
			</span>
			<h5>Preferences</h5>
			<p><strong>Care Type:</strong> {{caregiverJob.preferCareType}}</p>
			<p><strong>Gender:</strong> {{caregiverJob.preferGender}}</p>
			<hr/>

		</div>
	</div>
</div>